
/*
 * This pattern plays well with the tree pattern. Other angles of chevron in development.
 *
 *  <div class="chevron right"></div>
 */

.chevron {
    height: 0;
    line-height: 0;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
    display: inline-block;
    margin: 0.2em;
}

.chevron.left {
    border-width: 0.4em 0.4em 0.4em 0;
    border-right-color: #aaa;
}

.chevron.right,
.tree > li > .chevron {
    border-width: 0.4em 0 0.4em 0.4em;
    border-left-color: #aaa;
    margin-top: 0.25em;
    margin-left: 0.5em;
}

.chevron.down-right {
    border-width: 0.4em 0.4em 0 0.4em;
    border-right-color: #aaa;
}

.chevron.down,
.tree > li.open > .chevron {
    border-width: 0.4em 0.4em 0 0.4em;
    border-color: transparent;  /* Override the normal .tree > li > .chevron */
    border-top-color: #aaa;
    margin-top: 0.45em;
    margin-left: 0.15em;
}
